@model Hotel.ViewModels.UserProfile.UserProfileViewModel

@{
	ViewBag.Title = "User Profile";
}


<h2>All Users</h2>
<div class="page-content">
	<div class="card-body p-4" style="border:solid;border-radius:20px">
		<div class="table-responsive" border="0" >
			<table id="usersTable" class="display" >
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Check In Date</th>
						<th>Check Out Date</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var user in Model.AppUsers)
					{
						<tr>
							<td>@user.Name @user.Surname</td>
							<td>@user.Email</td>
							<td>

									@if (user.UserReservations !=null && user.UserReservations.Any())
									{
											@user.UserReservations
									}
							</td>
							<td>
								@if (Model.Reservations != null)
								{
									@foreach (var reservation in Model.Reservations.Where(r => r.Customer != null && r.Customer.Id == user.Customer.Id))
									{
										<p>@reservation.CheckInDate.ToShortDateString() - @reservation.CheckOutDate.ToShortDateString()</p>
									}
								}
							</td>


							@* <td>
									@foreach (var reserv in user.UserReservations)
									{
											@reserv.Reservation.CheckOutDate
									}
							</td> *@
						</tr>
					}
				</tbody>
			</table>

		</div>

	</div>

</div>

@section Scripts {
	<!-- DataTables CSS -->
	<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />

	<!-- jQuery and DataTables JS -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.datatables.net/2.0.8/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css">
	<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
	<!-- DataTables Starter Code -->
	<script>
		$(document).ready(function () {
			$('#reservationsTable').DataTable({
				"searching": true,
				"paging": true,
				"ordering": true
			});

			$('#usersTable').DataTable({
				"searching": true,
				"paging": true,
				"ordering": true
			});
		});
	</script>
}
