@using Hotel.Models
@model HomeVM
<!-- Hidden Sidebar -->
<section class="hidden-bar">
	<div class="inner-box text-center">
		<div class="cross-icon"><span class="fa fa-times"></span></div>
		<div class="title">
			<h4>Get Appointment</h4>
		</div>

		<!--Appointment Form-->
		<div class="appointment-form">
			<form method="post" action="contact.html">
				<div class="form-group">
					<input type="text" name="text" value="" placeholder="Name" required>
				</div>
				<div class="form-group">
					<input type="email" name="email" value="" placeholder="Email Address" required>
				</div>
				<div class="form-group">
					<textarea placeholder="Message" rows="5"></textarea>
				</div>
				<div class="form-group">
					<button type="submit" class="theme-btn">Submit now</button>
				</div>
			</form>
		</div>

		<!--Social Icons-->
		<div class="social-style-one">
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-facebook-f"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
			<a href="#"><i class="fab fa-pinterest-p"></i></a>
		</div>
	</div>
</section>
<!--End Hidden Sidebar -->
<!-- Slider Section Start -->
<section class="main-slider-area bgc-black-with-lighting rel z-1">
	<div class="main-slider-active">
		@foreach (var item in Model.Sliders)
		{
			<div class="slider-item">
				<div class="container">
					<div class="row justify-content-end align-items-center">
						<div class="col-xl-3">
							<div class="slider-content">
								<span class="sub-title"><i class="fal fa-arrow-right"></i> Welcome to Caspian Horizon</span>
								<h1>@item.Title</h1>
								<a asp-action="Index" asp-controller="Room" class="theme-btn">Explore Our Rooms <i class="far fa-angle-right"></i></a>
							</div>
						</div>
						<div class="col-xl-8">
							<div class="slider-image">
								<img src="~/assets/imgs/@item.ImageUrl" alt="Slider">
							</div>
						</div>
					</div>
				</div>
			</div>
		}

	</div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10">
				<div class="main-slider-dots"></div>
			</div>
		</div>
	</div>
	<div class="slider-shapes">
		<img class="shape circle-half" src="~/assets/images/shapes/slider-circle-half.png" alt="Shape">
		<img class="shape circle" src="~/assets/images/shapes/slider-circle.png" alt="Shape">
	</div>
	<div class="bg-lines">
		<span></span><span></span>
		<span></span><span></span>
		<span></span><span></span>
		<span></span><span></span>
		<span></span><span></span>
	</div>
</section>
<!-- Slider Section End -->
<!-- About Area start -->
<section class="about-area pt-130 rpt-100 rel">
	<div class="container">
		@if (Model.AboutCompanies.Any())
		{
			var firstItem = Model.AboutCompanies.First();
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="about-image-part rmb-55">
						<div class="top-part">
							<img src="~/assets/imgs/@firstItem.ImageUrlOne" alt="About">
							<div class="icon wow fadeInLeft delay-0-2s"><i class="@firstItem.Icon"></i></div>
						</div>
						<div class="bottom-part">
							<a href="@firstItem.LatestVideos" class="mfp-iframe video-play-text wow fadeInRight delay-0-2s">
								<i class="fal fa-play"></i>
								<span><b>Watch Latest</b><br> <i>Videos</i></span>
							</a>
							<img src="~/assets/imgs/@firstItem.ImageUrlTwo" alt="About">
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about-content-part">
						<div class="section-title mb-35 wow fadeInUp delay-0-2s">
							<span class="sub-title mb-15">About Company</span>
							<h2>@firstItem.Title</h2>
							<p>@firstItem.Description</p>
						</div>
						<div class="feature-list wow fadeInUp delay-0-3s">
							<div class="feature-item">
								<div class="icon">
									<i class="flaticon-check-mark"></i>
								</div>
								<div class="content">
									<h5>@firstItem.OurServiceOne</h5>
									<p>@firstItem.ServiceDescriptionOne</p>
								</div>
							</div>
							<div class="feature-item">
								<div class="icon">
									<i class="flaticon-check-mark"></i>
								</div>
								<div class="content">
									<h5>@firstItem.OurServiceTwo</h5>
									<p>@firstItem.ServiceDescriptionTwo</p>
								</div>
							</div>
						</div>
						<div class="about-author wow fadeInUp delay-0-4s">
							<div class="author">
								<img src="~/assets/imgs/@firstItem.CeoImageUrl" alt="Author">
							</div>
							<div class="description">
								<h5>@firstItem.CeoName</h5>
								<span>CEO & Founder</span>
							</div>
							<div class="signature">
								<img src="~/assets/imgs/@firstItem.CeoSignatureUrl" alt="Signature">
							</div>
						</div>
					</div>
				</div>
			</div>
		}

	</div>
	<div class="bg-lines for-bg-white">
		<span></span><span></span>
		<span></span><span></span>
		<span></span><span></span>
		<span></span><span></span>
		<span></span><span></span>
	</div>
</section>
<!-- About Area end -->
<!-- Rooms Area start -->
<section class="rooms-area pt-130 rpt-100 pb-100 rpb-70 rel z-2">
	<div class="container">
		<div class="row justify-content-between align-items-center pb-20">
			<div class="col-xl-5 col-lg-7">
				<div class="section-title mb-40 wow fadeInLeft delay-0-2s">
					<h2>Take A Look Our Luxury Rooms and Hotel</h2>
				</div>
			</div>
			<div class="col-lg-4 text-lg-end">
				<a class="theme-btn mb-40 wow fadeInRight delay-0-2s" asp-action="Index" asp-controller="Room">Explore Rooms <i class="fal fa-angle-right"></i></a>
			</div>
		</div>
		<div class="row">
			@foreach (var item in Model.Rooms.Take(3))
			{
				<div class="col-xl-4 col-md-6">
					<div class="room-item wow fadeInUp delay-0-2s">
						<div class="image">
							@if (item.Images.Any())
							{
								<img src="~/assets/imgs/@item.Images.First().Url" alt="Room">
							}
							else
							{
								<img src="~/assets/imgs/default-image.jpg" alt="Room">
							}
							<a class="category" href="room-grid.html">
								@if (item.Category != null)
								{
									@item.Category.CategoryName
								}
							</a>
						</div>
						<div class="content">
							<h4><a href="room-details.html">@item.Name</a></h4>
							<ul class="blog-meta">
								<li>
									<i class="far fa-bed-alt"></i>
									<a href="#">Adults: @item.Beds</a>
								</li>
								<li>
									<p>
										Rating:
										@for (int i = 0; i < item.Rating; i++)
										{
											<i class="fa fa-star"></i>
										}
									</p>
								</li>
							</ul>
							<p>@item.Description</p>
							<div class="price">Price <span>$@item.Price</span>/per night</div>
						</div>
						<a class="theme-btn style-two"asp-action="Details" asp-route-id="@item.Id">Details <i class="fal fa-angle-right"></i></a>
					</div>
				</div>
			}


		</div>
	</div>
	<div class="bg-lines for-bg-white">
		<span></span><span></span>
		<span></span><span></span>
		<span></span><span></span>
		<span></span><span></span>
		<span></span><span></span>
	</div>
</section>
<!-- Rooms Area end -->


<div class="for-bg-and-shapes rel z-1">
	<!-- Counter Section Start -->
	<div class="counter-area pb-110 rpb-80 rel z-1">
		<div class="container">
			<div class="row gap-70">
				@if (Model.Features.Any())
				{
					var firstItem = Model.Features.First();
					<div class="col-xl-3 col-lg-4 col-sm-6">
						<div class="counter-item counter-text-wrap wow fadeInUp delay-0-2s">
							<span class="count-text" data-speed="3000" data-stop="@firstItem.ProjectsComplete">0</span>
							<span class="counter-title">Projects complete</span>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-sm-6">
						<div class="counter-item counter-text-wrap wow fadeInUp delay-0-3s">
							<span class="count-text" data-speed="3000" data-stop="@firstItem.LuxuryRooms">0</span>
							<span class="counter-title">Luxury Rooms</span>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-sm-6">
						<div class="counter-item counter-text-wrap wow fadeInUp delay-0-4s">
							<span class="count-text" data-speed="3000" data-stop="@firstItem.Beaches">0</span>
							<span class="counter-title">Beaches</span>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-sm-6">
						<div class="counter-item counter-text-wrap wow fadeInUp delay-0-5s">
							<span class="count-text" data-speed="3000" data-stop="@firstItem.RegularGuests">0</span>
							<span class="counter-title">Regular Guests</span>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
	<!-- Counter Section End -->
	<!-- Features Section Start -->
	<section class="features-area pb-65 rpb-35 rel z-1">
		<div class="container">
			<div class="row text-white">
				@if (Model.Features.Any())
				{
					var firstItem = Model.Features.First();
					<div class="col-xl-4 col-md-6">
						<div class="feature-item style-two wow fadeInUp delay-0-2s">
							<div class="icon">
								<i class="flaticon-stationary-bike"></i>
							</div>
							<div class="content">
								<h4><a href="room-details.html">Fitness Center</a></h4>
								<p>@firstItem.FitnessCenter</p>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-md-6">
						<div class="feature-item style-two wow fadeInUp delay-0-4s">
							<div class="icon">
								<i class="flaticon-jacuzzi"></i>
							</div>
							<div class="content">
								<h4><a href="room-details.html">Jacuzzi</a></h4>
								<p>@firstItem.Jacuzzi</p>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-md-6">
						<div class="feature-item style-two wow fadeInUp delay-0-6s">
							<div class="icon">
								<i class="flaticon-swim"></i>
							</div>
							<div class="content">
								<h4><a href="room-details.html">Swimming Pool</a></h4>
								<p>@firstItem.Jacuzzi</p>

							</div>
						</div>
					</div>
					<div class="col-xl-4 col-md-6">
						<div class="feature-item style-two wow fadeInUp delay-0-2s">
							<div class="icon">
								<i class="flaticon-relax"></i>
							</div>
							<div class="content">
								<h4><a href="room-details.html">SPA Treatments</a></h4>
								<p>@firstItem.SPATreatments</p>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-md-6">
						<div class="feature-item style-two wow fadeInUp delay-0-4s">
							<div class="icon">
								<i class="flaticon-restaurant"></i>
							</div>
							<div class="content">
								<h4><a href="room-details.html">Food & Restaurants</a></h4>
								<p>@firstItem.FoodRestaurants</p>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-md-6">
						<div class="feature-item style-two wow fadeInUp delay-0-6s">
							<div class="icon">
								<i class="flaticon-restaurant"></i>
							</div>
							<div class="content">
								<h4><a href="room-details.html">Transportation</a></h4>
								<p>@firstItem.Transportation</p>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</section>
	<!-- Features Section End -->

	<div class="bg-color-and-shapes bgc-black">
		<div class="bg-lines">
			<span></span><span></span>
			<span></span><span></span>
			<span></span><span></span>
			<span></span><span></span>
			<span></span><span></span>
		</div>
		<div class="wave-shapes"></div>
		<div class="wave-shapes-two"></div>
	</div>
</div>
<!-- Video Area start -->
<div class="video-area">
	<div class="container-fluid gap-wide">
		<div class="video-part wow fadeInUp delay-0-2s">
			<img src="~/assets/images/background/video-bg.jpg" alt="Video">
			<a href="https://www.youtube.com/watch?v=9Y7ma241N8k" class="mfp-iframe video-play" tabindex="-1"><i class="fas fa-play"></i></a>
		</div>
	</div>
</div>
<!-- Video Area end -->

