@model Hotel.Models.Room

<!-- Room Details Area start -->
<section class="room-details-area py-130 rpy-100 rel z-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="room-details-content rmb-55">
                    <div class="section-title wow fadeInUp delay-0-2s">
                        <h2>@Model.Name Details</h2>
                    </div>
                    <ul class="blog-meta wow fadeInUp delay-0-3s">
                        <li>
                            <i class="far fa-bed-alt"></i>
                            <a href="#">Beds: @Model.Beds</a>
                        </li>
                        <li>
                            <i class="far fa-bath"></i>
                            <a href="#">Bathrooms: @Model.Bathrooms</a>
                        </li>
                        <li>
                            <div class="rating">
                                @for (int i = 0; i < Model.Rating; i++)
                                {
                                    <i class="fas fa-star"></i>
                                }
                            </div>
                        </li>
                    </ul>
                    <div class="price mb-35">$ @Model.Price</div>
                    <p>@Model.Description</p>
                    <div class="mt-4">
                        <h3>Room Status</h3>
                        <div class="p-3 rounded bg-dark">
                            <span style="color:orange; font-size:1.7rem; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">@Model.RoomStatus.StatusName</span>
                        </div>
                    </div>




                    <div class="room-details-images mt-45 wow fadeInUp delay-0-2s">
                        @foreach (var img in Model.Images)
                        {
                            <img src="@Url.Content("~/assets/imgs/" + img.Url)" alt="Room Details">
                        }
                    </div>
                    <div class="section-title mt-35">
                        <h2>Room Facilities</h2>
                    </div>
                    <p>Description of room facilities goes here.</p>
                    <ul class="list-style-two three-column pt-10 wow fadeInUp delay-0-2s">
                        <li>Breakfast Included</li>
                        <li>Flat Screen TV</li>
                        <li>Hairdryer</li>
                        <li>Writing Desk</li>
                        <li>Towel Warmer</li>
                        <li>Shower bathtub</li>
                        <li>Balcony or Terrace</li>
                        <li>Ironing Board</li>
                        <li>Kettle Tea</li>
                        <li>Telephone</li>
                        <li>Saving Safe</li>
                        <li>Transportations</li>
                    </ul>

                    <div class="room-location mt-70 wow fadeInUp delay-0-2s">
                        <iframe src="@Model.Location" style="border:0; width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="section-title mt-45">
                        <h2>Rules & Regulations</h2>
                    </div>
                    <p>Description of rules and regulations goes here.</p>
                    <ul class="list-style-two pt-10 wow fadeInUp delay-0-2s">
                        <li>Check-in: After 02:00pm</li>
                        <li>Checkout: Before 11:00am</li>
                        <li>Late Checkout: Additional charge 50% of the room rate.</li>
                        <li>No smoking inside the room</li>
                        <li>No pets</li>
                        <li>Identification document is required for hotel registration.</li>
                    </ul>
                </div>
            </div>
            <div class="mt-20">
                @if (Model.RoomStatus != null && Model.RoomStatus.StatusName != null && Model.RoomStatus.StatusName.Contains("Available", StringComparison.OrdinalIgnoreCase))
                {
                    <a class="theme-btn w-100" asp-action="Create" asp-controller="OrderTable" asp-route-id="@Model.Id">Book Now</a>
                }
                else
                {
                    <a class="theme-btn w-100" asp-action="Index" asp-controller="Room">Search</a>
                }
            </div>

        </div>
    </div>
</section>
